{% extends 'base.html.twig' %}

{% block body %}

    <h1>Mon super site</h1>

    <p id="intro">
        Site crée avec Symfony.<br />
        <strong>Le tout est trouvable sur mon Github : @Hashiix</strong><br />
    </p>

    <form method="post">

        <input type="hidden" name="token" value="{{ csrf_token('message_created') }}">

        <div id="minichatname">
            <label for="name">Pseudo</label><br/>
            <input type="text" id="name" name="name" required maxlength="20">
        </div>
        <div id="minichatmessage">
            <label for="message">Message</label><br/>
            <textarea id="message" name="message" rows="5" cols="60" required maxlength="120"></textarea><br/>
            <input type="submit" value="Envoyer" />
        </div>
    </form>

    <div id="minichat">
        {% for message in messages %}
            {{ message.date|date('d-m-Y H:i') }} - <strong>{{ message.name }} :</strong> {{ message.message|escape('html') }}<br/>
        {% endfor %}
    </div>

    <form>
            <input type="submit" value="Rafraichir">
    </form>

{% endblock %}