{% extends 'base.html.twig' %}

{% block body %}

    <h1>Mon super site</h1>

    <p id="intro">
        Site crée avec Symfony.<br />
        <strong>Le tout est trouvable sur mon Github : @Hashiix</strong><br />
    </p>

    <form method="post">
        <div id="minichatname">
            <label for="name">Pseudo :</label><br/>
            <input type="text" id="name" name="name" required maxlength="20">
        </div>
        <div id="minichatmessage">
            <label for="message">Message :</label><br/>
            <textarea id="message" name="message" rows="5" cols="60" required maxlength="120"></textarea><br/>
            <input type="submit" value="Envoyer" />
        </div>
        <p id="bbcode">(BBCode dispo : gras ( <strong>[b][/b]</strong>), couleurs ( [color=(<span style="color:red">red</span>|<span style="color:green"></span>>|<span style="color:blue">blue</span>|<span style="color:yellow">yellow</span>|<span style="color:purple">purple</span>|<span style="color:olive">olive</span>)][/color] ) et italique ( <em>[i][/i]</em> )). </p>
    </form>

    <div id="minichat">
        {% for message in messages %}
            {{ message.date|date('d-m-Y H:i') }} - <strong>{{ message.name|escape }} :</strong> {{ message.message|escape }}<br/>
        {% endfor %}
    </div>

    <form>
            <input type="submit" value="Rafraichir">
    </form>

{% endblock %}