/* --Overall-- */

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
html {
    background-image: url("../img/mtfuji.jpg");
    background-attachment: fixed;
}

/* --Header-- */

header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    top: 0;
}
#menu {
    padding: 1%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
ul {
    display: flex;
}
li {
    margin-right: 70px;
    font-size: 30px;
    font-weight: bold;
}
li a {
    color: black;
}
#tabs::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: width .3s;
}
#tabs:hover::after {
    width: 100%;
    transition: width .3s;
}
#tabs:hover {
    color: black;
    text-decoration: none;
}
#headerdisconnect {
    display: flex;
    align-items: center;
}

/* --Body-- */

#body {
    margin: 50px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}
h1 {
    text-align: center;
    margin-bottom: 1%;
}
h2 {
    margin-bottom: 2%;
}

/* --Homepage-- */

#intro {
    width: calc(100% - 40px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 220px);
    margin-top: -45px;
}
#hometext {
    text-align: center;
    position: relative;
    overflow: hidden;
}
#slideuptext {
    opacity: 0%;
    font-size: 40px;
    font-weight: bold;
    animation: Slide_Up 1s .5s forwards;
}
#line {
    width: 60%;
    height: 6px;
    border-radius: 25px;
    background-color: black;
    animation: Open_Up .5s;
}
#icons {
    position: relative;
    overflow: hidden;
}
#slidedownicons {
    opacity: 0%;
    animation: Slide_Down 1s .5s forwards;
}
@keyframes Slide_Up {
    0%{
        opacity: 0%;
        transform:translateY(100px);
    }
    100%{
        opacity: 100%;
        transform: translateY(0px);
    }
}
@keyframes Slide_Down {
    0%{
        opacity: 0%;
        transform:translateY(-50px);
    }
    100%{
        opacity: 100%;
        transform: translateY(0px);
    }
}
@keyframes Open_Up {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes Hide {
    100%{
        display: inline;
    }
}

/* --Minichat-- */

#bbcode {
    text-align: center;
}
#submit {
    display: flex;
    justify-content: center;
}
#minichat {
    margin-bottom: 1%;
    background-color: rgba(255,255,255,0.8);
    padding: 1em;
    border-radius: 25px;
}

/* --Blog-- */

#backdecoration {
    text-decoration: none;
    font-weight: bold;
}
#articles {
    padding: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: rgba(255,255,255,0.8);
    border-radius: 25px;
}
#article {
    margin-top: 1%;
    margin-bottom: 1%;
}
#comments {
    margin-bottom: 2%;
    background-color: rgba(255,255,255,0.8);
    border-radius: 25px;
    padding: 1%;
}
#comment {
    margin-top: 1%;
    margin-bottom: 1%;
}

/* --Login/Sign in-- */

#signin {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
#textsignin {
    margin-right: 1%;
    font-size: 19px;
}
#textlogin {
    margin-right: 1%;
    font-size: 17px;
}
#already {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}
#disconnectdecoration {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
