/* --Overall-- */

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
html {
    background-image: url("../img/mtfuji.jpg");
    background-attachment: fixed;
}

/* --Header-- */

header {
    background-color: #393f4d;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
#menu {
    padding: 1%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
ul {
    display: flex;
}
li {
    margin-right: 40px;
    font-size: 30px;
    font-weight: bold;
    list-style: none;
}
#tabs {
    color: #d4d4dc;
    text-decoration: none;
}
#tabs:hover {
    color: white;
}
#headerdisconnect {
    display: flex;
    align-items: center;
}

/* --Body-- */

#body {
    margin: 100px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    background-color: rgba(255,255,255,0.6);
    min-height: calc(100vh - 240px);
}
body p {
    margin-bottom: 1%;
}
h1 {
    text-align: center;
    margin-bottom: 1%;
}
h2 {
    margin-bottom: 1%;
}
h3 {
    margin-bottom: 1%;
    text-align: center;
}
#intro {
    text-align: center;
    margin-bottom: 30px;
}

/* --Minichat-- */

#minichatname {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#minichatmessage {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#bbcode {
    text-align: center;
}
#minichat {
    margin-bottom: 1%;
    background-color: rgba(255,255,255,0.8);
}

/* --Footer-- */

#footer {
    background-color: #393f4d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    bottom: 0;
    right: 0;
    left: 0;
}
#billets {
    padding: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgba(255,255,255,0.8);
}
#billet {
    margin-bottom: 2%;
}
#comments {
    margin-bottom: 2%;
}
#comments_post {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#signin {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
#textsignin {
    margin-right: 1%;
    font-size: 19px;
}
#textlogin {
    margin-right: 1%;
    font-size: 17px;
}
#already {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}
#disconnectdecoration {
    text-decoration: none;
    color: #d4d4dc;
    font-weight: bold;
}