/* --Overall-- */

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
html {
    background-image: url("../img/mtfuji.jpg");
    background-attachment: fixed;
    background-size: cover;
}

/* --Header-- */

#burgerlabel {
    color: white;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 40px;
    display: none;
    float: right;
}
#toggle {
    display: none;
}
header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    top: 0;
}
#menu {
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
ul {
    display: flex;
    margin-right: 30px;
}
li {
    margin-right: 2.1vw;
    font-size: max(1.5vw, 20px);
    font-weight: bold;
}
li a {
    color: black;
}
#tabs::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: width .3s;
}
#tabs:hover::after {
    width: 100%;
    transition: width .3s;
}
#tabs:hover {
    color: black;
    text-decoration: none;
}
#headerdisconnect {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16%;
    font-size: max(1vw, 15px);
}

/* --Body-- */

#body {
    margin: 50px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}
h2 {
    font-size: max(1.7vw, 20px);
    margin-bottom: 2%;
}

/* --Homepage-- */

#intro {
    width: calc(100% - 40px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 220px);
}
#hometext {
    text-align: center;
    position: relative;
    overflow: hidden;
}
#slideuptext {
    opacity: 0%;
    font-size: max(2.1vw, 25px);
    font-weight: bold;
    animation: Slide_Up 1s .5s forwards;
    margin-bottom: .5rem;
}
#line {
    width: 60%;
    height: 6px;
    border-radius: 25px;
    background-color: black;
    animation: Open_Up .5s;
}
#icons {
    position: relative;
    overflow: hidden;
}
#slidedownicons {
    opacity: 0%;
    animation: Slide_Down 1s .5s forwards;
}
@keyframes Slide_Up {
    0%{
        opacity: 0%;
        transform:translateY(100px);
    }
    100%{
        opacity: 100%;
        transform: translateY(0px);
    }
}
@keyframes Slide_Down {
    0%{
        opacity: 0%;
        transform:translateY(-50px);
    }
    100%{
        opacity: 100%;
        transform: translateY(0px);
    }
}
@keyframes Open_Up {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes Open_Up_Responsive {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes Hide {
    100%{
        display: inline;
    }
}

/* --Minichat-- */

#bbcode {
    text-align: center;
}
#submit {
    display: flex;
    justify-content: center;
}
#minichat {
    margin-bottom: 1%;
    background-color: rgba(255,255,255,0.8);
    padding: 1em;
    border-radius: 25px;
}

/* --Blog-- */

#backdecoration {
    text-decoration: none;
    font-weight: bold;
}
#articles {
    padding: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: rgba(255,255,255,0.8);
    border-radius: 25px;
}
#article {
    margin-top: 1%;
    margin-bottom: 1%;
}
#comments {
    margin-bottom: 2%;
    background-color: rgba(255,255,255,0.8);
    border-radius: 25px;
    padding: 1%;
}
#comment {
    margin-top: 1%;
    margin-bottom: 1%;
}

/* --Login/Sign in-- */

#already {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

/* --Responsive-- */

@media screen and (max-width: 1100px) {
    #body {
        margin: 20px 0px 0px 0px;
    }
    #intro {
        width: 100%;
    }
    #headerdisconnect {
        text-align: center;
        width: 118px;
    }
    ul {
        margin-right: 0;
    }
    #line {
        width: 80%;
        animation: Open_Up_Responsive .5s;
    }
    #submit {
        margin-bottom: 1rem;
    }
    #minichat {
        margin-bottom: 20px;
    }
    #comments {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 415px) {
    #burgerlabel {
        display: block;
        cursor: pointer;
    }
    header{
        height: 60px;
        background-color: #494D5F;
        display: block;
        justify-content: center;
        align-items: center;
        position: fixed;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
    }
    #body {
        margin-top: 60px;
    }
    #burger {
        background-color: #494D5F;
        text-align: center;
        flex-direction: column;
        width: 100%;
        padding: 0px;
        margin-left: 0px;
    }
    #intro {
        width: 100%;
    }
    #line {
        width: 90%;
    }
    #menu {
        padding: 0;
        display: none;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    }
    #toggle:checked + nav {
        display: block;
    }
    li {
        margin-right: 0;
        margin-bottom: 5px;
    }
    textarea {
        width: 90%;
    }
    #tabs {
        color: white;
    }
}
