{% extends 'base.html.twig' %}

{% block body %}

    <div id="intro">
        <div id="hometext">
            <p id="slideuptext"><strong>Site développé avec Symfony.<br />
                    Repository disponible sur mon Github.</strong><br /></p>
        </div>
        <div id="line"></div>
        <div id="icons">
            <div id="slidedownicons">
                <a href="https://github.com/Hashiix"><i class="fa fa-github" style="font-size:96px;color:#24292e"></i></a>
                <a href="https://www.linkedin.com/in/tiago-vieira-braz-066b74198"><i class="fa fa-linkedin-square" style="font-size:96px;color:#0e76a8"></i></a>
            </div>
        </div>
    </div>

{% endblock %}
