{% extends 'base.html.twig' %}

{% block body %}

    <div id="submit">
        <button type="submit" class="btn btn-success">S'inscrire</button>
    </div>

    <p id="intro">Vous n'êtes pas encore inscrit ?<a href='{{ path('app_login_index') }}'>Inscrivez-vous !</a></p>

{% endblock %}
