{% extends 'base.html.twig' %}

{% block body %}

    <h1>Mon super blog !</h1>

    <div id="articles">

        {% for article in articles %}
            <div id="article">
                {{ article.title }} - {{ article.date|date('d-m-Y H:i') }} <br/>
                {{ article.content }} <br/>
            </div>
        {% endfor %}

    </div>

{% endblock %}